<div class="container py-5">
  <div class="row text-center py-5">
    <h1>Login</h1>
    <div class="col-md-12 py-5">
<div class="w-50 p-5 border rounded shadow m-auto bg-light">
<form [formGroup]="loginForm" (submit)="submit()">
<label class="py-4 fs-2">Inserisci la tua email</label>
<input type="text" class="form-control m-1 fs-2" formControlName="email">
<label class="py-4 fs-2">Inserisci la password</label>
<input type="password" class="form-control m-1 fs-2" formControlName="password">
<button class="btn btn-success my-2" type="submit">Login</button>
</form>
</div>
    </div>
  </div>
</div>
