.text-area-custom-bold {
  font-weight: bold;
}

.text-area-custom-italic {
  font-style: italic;
}

.text-area-custom-left {
  text-align: left;
}

.text-area-custom-center {
  text-align: center;
}

.text-area-custom-right {
  text-align: right;
}
