<div class="container text-center">
<div class="row">
  <div class="col-md-1">
    <button class="btn btn-danger m-2" (click)="logout()">
      Logout
    </button>
  </div>
  <div class="col-md-12 py-5">
    <h1>    Benvenuto nel tuo ufficio
    </h1>
  </div>
  <div class="col-md-4">
      <img src="../../../../assets/office/402656007_7060805037274856_2428459461903121480_n.jpg" alt="" class="w-100 rounded border shadow-lg" >
  </div>
  <div class="col-md-8 p-5">
    <ul class="list-group">
      <li class="list-group-item"><button class="btn" (click)="daFare='aggiungiStoria'">Inserisci una storia</button></li>
      <li class="list-group-item"><button class="btn" (click)="daFare='vediStoria'">Vedi le tue storie</button></li>
      <li class="list-group-item"><button class="btn" (click)="daFare='statistiche'">Statistiche</button></li>
      <li class="list-group-item"><button class="btn" (click)="daFare='modifica'">Aggiungi/Rimuovi categorie</button></li>
      <li class="list-group-item"><button class="btn" (click)="daFare='rimuoviStoria'">Rimuovi una storia</button></li>
    </ul>
  </div>
  <div class="col-md-12 py-5 text-center"
  *ngIf="daFare=='aggiungiStoria'">
<h1>Aggiungi una storia</h1>
<div class="w-100 d-flex">
  <button class="btn btn-light m-1 border" (click)="image.click()">Aggiungi media</button>
</div>
<div class="w-100 p-3 bg-light">
  <div class="row border shadow rounded m-2">
    <div class="col-md-10">
      <h2 class="text-center py-2">Aggiungi</h2>
  <div class="row p-5 ">
    <div class="col-md-3">
      <form [formGroup]="addCategoria">
        <label for="">Aggiungi categoria :</label>
        <input  class="form-control my-2" formControlName="addCategoria">
      <button class="btn" type="btn" (click)="addCategory()">Aggiungi categoria</button>
      </form>
    </div>
    <div class="col-md-3">
      <form [formGroup]="addTema">
        <label for="">Aggiungi tema :</label>
        <input  class="form-control my-2" formControlName="addTema">
      <button class="btn" type="btn" (click)="addThema()">Aggiungi tema</button>
      </form>
    </div>
    <div class="col-md-3">
      <form [formGroup]="addTag">
        <label for="">Aggiungi tag :</label>
        <input  class="form-control my-2" formControlName="addTag">
      <button class="btn" type="btn" (click)="addTags()">Aggiungi tag</button>
      </form>
    </div>
    <div class="col-md-3">
      <form [formGroup]="addLuogo">
        <label for="">Aggiungi luogo :</label>
        <input  class="form-control my-2" formControlName="addLuogo">
      <button class="btn" type="btn" (click)="addPlace()">Aggiungi luogo</button>
      </form>
    </div>
    <div class="col-md-12 p-5">
      <form [formGroup]="addPersonaggio">
        <div class="row">
            <div class="col-md-4"><label for="" class="py-2">Nome personaggio:</label>
              <input type="text" class="form-control" formControlName="name"></div>
        <div class="col-md-4"> <label for="" class="py-2">Cognome personaggio:</label>
              <input type="text" class="form-control" formControlName="surname"></div>
        <div class="col-md-4"> <label for="" class="py-2">Alias personaggio:</label>
              <input type="text" class="form-control" formControlName="alias"></div>
        </div>
  </form>
  <button class="btn my-2" type="btn" (click)="addCharacter()"> Aggiungi personaggio</button>
    </div>
  </div>
    </div>
    <div class="col-md-2">
      <h2 class="py-2 text-center">
    Modifica/Rimuovi
      </h2>
      <form [formGroup]="searchCategory">
      <label for="" class="fs-5 fw-bold">Categoria</label>
    <input type="text" formControlName="searchCategory" class="form-control"> <button class="btn btn-secondary m-1" style="font-size: 12px;" type="button" (click)="search('categoria',searchCategory.controls['searchCategory'].value)">cerca</button></form>
      <form [formGroup]="searchTag">
      <label for="" class="fs-5 fw-bold">Tag</label>
    <input type="text" formControlName="searchTag" class="form-control"> <button class="btn btn-secondary m-1" style="font-size: 12px;" type="button" (click)="search('tag',searchTag.controls['searchTag'].value)">cerca</button></form>
      <form [formGroup]="searchTema">
      <label for="" class="fs-5 fw-bold"> Tema</label>
    <input type="text" formControlName="searchTema" class="form-control"> <button class="btn btn-secondary m-1" style="font-size: 12px;" type="button" (click)="search('tema',searchTema.controls['searchTema'].value)">cerca</button></form>
      <form [formGroup]="searchLuogo">
      <label for="" class="fs-5 fw-bold">Luogo</label>
    <input type="text" formControlName="searchLuogo" class="form-control"> <button class="btn btn-secondary m-1" style="font-size: 12px;" type="button" (click)="search('luogo',searchLuogo.controls['searchLuogo'].value)">cerca</button></form>
      <form [formGroup]="searchPersonaggio">
      <label for="" class="fs-5 fw-bold">Personaggio</label>
    <input type="text" formControlName="searchAlias" class="form-control"> <button class="btn btn-secondary m-1" style="font-size: 12px;" type="button" (click)="search('personaggio',searchPersonaggio.controls['searchAlias'].value)">cerca</button></form>
    </div>
  </div>

  <form [formGroup]="articoloForm" class="text-center py-5">
    <div class="row">
      <div class="col-md-8">
        <label for="">Titolo :</label>
    <input type="text" formControlName="titolo" class="form-control w-50 m-auto my-2 fs-1">
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6"><label for="">Seleziona categoria :</label>
        <select name="" id="" class="form-select my-2" formControlName="categoriaList">
          <option value=""></option>
          <option value="{{c.id}}" *ngFor="let c of categorie">{{c.category}} </option>
        </select></div>
          <div class="col-md-6"><label for="">Seleziona luogo :</label>
        <select name="" id="" class="form-select my-2" formControlName="luogo">
          <option value=""></option>
          <option value="{{c.id}}" *ngFor="let c of luoghi">{{c.luogo}} </option>
        </select></div>
          <div class="col-md-6"><label for="">Seleziona tema :</label>
        <select name="" id="" class="form-select my-2" formControlName="temaList">
          <option value=""></option>
          <option value="{{c.id}}" *ngFor="let c of temi">{{c.thema}} </option>
        </select></div>
          <div class="col-md-6"><label for="">Seleziona tag :</label>
        <select name="" id="" class="form-select my-2" formControlName="tagList">
          <option value=""></option>
          <option value="{{c.id}}" *ngFor="let c of tags">{{c.tag}} </option>
        </select></div>
        <div class="col-md-6"><label for="">Seleziona personaggio :</label>
          <select name="" id="" class="form-select my-2" formControlName="personaggioList">
            <option value=""></option>
            <option value="{{c.id}}" *ngFor="let c of personaggi">{{c.alias}} </option>
          </select></div>
        </div></div>
      <div class="col-md-12">
<label for="">Testo :</label>
    <textarea
    formControlName="testo"
    class="form-control my-2"
  name=""
  id=""
  cols="30"
  rows="10"
></textarea>
<input type="file" class="d-none" formControlName="image" #image>
      </div>
      <div class="col-md-12 text-end">
        <button class="btn btn-warning m-1">Salva Bozza</button>
        <button class="btn btn-primary m-1">Posta</button>
      </div>
    </div>

  </form>
</div>
  </div>
</div>
</div>
