<nav>
  <div class="row p-3 bg-dark text-white">
    <div class="col-md-2 p-2"> <a routerLink="/home" routerLinkActive="text-success fw-bold">Home </a></div>
    <div class="col-md-2 p-2"> <a routerLink="/disclaimer" routerLinkActive="text-success fw-bold">Disclaimer </a></div>
    <div class="col-md-2 p-2"> <a routerLink="/avvertenza" routerLinkActive="text-success fw-bold">Avvertenza </a></div>
    <div class="col-md-2 p-2"> <a routerLink="/pubblicita" routerLinkActive="text-success fw-bold">Pubblicità </a></div>
    <div class="col-md-2 p-2"> <a routerLink="/contattaci" routerLinkActive="text-success fw-bold">Contattaci </a></div>

  </div>
</nav>
